.parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	color: brown;
	width: 90%;
	height: 300px;
	margin: 0 auto;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: stretch;
}
.container1 {
	display: flex;
	/* height: 100px; */
	align-items: stretch;
	border: 2px solid red;
}
.container2 {
	background-color: aliceblue;
	/* height: 50px; */
	display: flex;
	border: 2px solid greenyellow;

}
.box1 {
	width: 200px;
	height: 50px;
	background-color: aqua;
	/* align-content: center; */
}
.box2 {
	width: 200px;
	height: 100px;
	background-color: rgb(0, 255, 38);
	/* align-content: center; */
}
.box3 {
	width: 200px;
	height: 50px;
	background-color: rgb(0, 26, 255);
	/* align-content: center; */
}
.box4 {
	width: 200px;
	/* height: 50px; */
	background-color: rgb(255, 153, 0);
	/* align-content: center; */
}
.box5 {
	width: 200px;
	height: 50px;
	background-color: rgb(255, 230, 0);
}
.box6 {
	width: 200px;
	height: 50px;
	background-color: rgb(0, 255, 234);
}
